<!DOCTYPE html>
<html>
<head>
	<title>Weather App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
		<style>

	body{
		background-color: #dce3e6;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}


	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}



	.center-column-1{
		width:400px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
	}


</style>
<br>
	<div class="center-column" align="center">
		<div>
		<h1><em>Find the Weather</em></h1>
		</div>
		<div>
			<form method="GET">
				<label for="city"></label>
				<input type="text" name="city" id="city" placeholder="Enter the city name" class="form-control">
				<input type="submit" value="Submit" class="form-control btn btn-primary" >
			</form>
		</div>
		{% if weather %}
		<div>
			<hr>
			<div class="center-column-1">
				<hr>
				<h4>City : {{ weather.region }}</h4><hr>
				<h4>Time : {{ weather.time }}</h4><hr>
				<h4>Condition : {{ weather.condition }}</h4><hr>
				<h4>Temparature : {{ weather.temperature }} °C</h4><hr>
			</div>
			
		</div>
		{% endif %}
		
	</div>
	

</body>
</html>